.block {
  background-color: #F5F5F5;
  border: 1px solid #DEDEDE;
  box-shadow: 4px 2px 5px -3px rgba(0, 0, 0, 0.4);
  color: #555;
  font-family: courier, monospace;
  margin: 0 0 1.5em;
  list-style: none;
  padding: 0 !important;
  width: 100%;
}

.block::before {
  border-left: 1px solid #FFAA9F;
  border-right: 1px solid #FFAA9F;
  bottom: 0;
  content: '';
  display: block;
  left: 6%;
  position: absolute;
  top: 0;
  width: 2px;
}

.blockDetails {
  list-style: none;
}

.blockDetails li {
  border-bottom: 1px dotted #CCC;
  height: auto;
  list-style: none;
  padding: 5px 10px;
  text-indent: 6%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blockHash {
  font-family: 'Playfair Display', serif;
  border-bottom: 1px solid #CCC;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 3em;
  text-indent: 8%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blockTruncatedMsg {
  text-align: center;
}

.blockTruncatedEllipses {
  font-size: 1.5em;
}

.footer {
  text-align: center;
  font-size: 1.2em;
  font-weight: strong;
  line-height: 2.5em;
}

.expanded {
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
}
