.block {
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  box-shadow: 4px 2px 5px -3px rgba(0,0,0,0.4);
  color: #555;
  font-family: courier, monospace;
  margin: 0 0 1.5em 0;
  list-style: none;
  padding: 0 !important;
  position: relative;
}

.block:before {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  bottom: 0;
  content: '';
  display: block;
  float: left;
  left: 60px;
  position: absolute;
  top: 0;
  width: 2px;
}

.blockDetails {
  list-style: none;
}

.blockDetails > li {
  border-bottom: 1px dotted #ccc;
  height: auto;
  list-style: none;
  padding: 5px 10px;
  text-indent: 75px;
}

.blockHash {
  font-family: 'Playfair Display', serif;
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 3em;
  text-indent: 70px;
}

.blockTruncatedMsg {
  text-align: center;
}

.blockTruncatedEllipses {
  font-size: 1.5em;
}

.txHash {
}

.footer {
  text-align: center;
  font-size: 1.2em;
  font-weight: strong;
  line-height: 2.5em;
  height: 2.5em;
}

