.bitcoinStream {
  margin: 0 auto;
  padding: 0;
  width: 800px;
  font-size: 10px;
  position: relative;
}

.header {
  font-size: 3em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

.bitcoinStreamContainer {
  background: #F1F4F9;
  background-image: url('./cork-wallet.png');
  background-repeat: repeat;
}

.hidden {
  display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 620px) {
  .bitcoinStream {
    width: 100%;
    font-size: 8px;
  }
  .bitcoinStreamContainer {
    width: 100%;
    height: 100%;
    font-size: 8px;
  }
  .header {
    font-size: 2em;
  }
}
