.bitcoinStream {
  margin: 0 auto;
  padding: 0;
  width: 800px;
  font-size: 10px;
}

.header {
  font-size: 3em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-shadow: 0 2px 2px rgba(255,255,255,0.9);
}

.bitcoinStreamContainer {
  background: #f1f4f9;
  background-image: url("./cork-wallet.png");
  background-repeat: repeat;
}
